@import url('https://fonts.googleapis.com/css?family=Kurale|Tangerine|Ubuntu');
 
li {
    
  display: inline-block;
  
  
}

a { 
    text-decoration: none; 
    padding:10px;
    font-family: 'Kurale', serif;
    
}    
    

body{
   background-color: #FFE4E1;
   background-image: url(../images/bluerose.png);
   background-repeat:no-repeat;
   background-position: right bottom;
   background-attachment: fixed;
   
} 




.welcome {
    text-indent: 250px;
    border-style: solid;
    border-width: 5px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 10px;
    
}




#thankyou {
    text-indent: 250px;
    border-style: solid;
    border-width: 5px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left:10px;
}    
    
  


  



 h1 ,h2, h3 {

  text-align: center;
  text-indent: 200px;
  color:#000000;  
  font-family: 'Tangerine', cursive;
  font-size:50px; 
  display: flex;
  border: 2px solid;   
  padding:20px;
  margin: 10px 15px 10px 15px;
  border-radius: 10px;
    background-color: #00FFFF;
  
 }  


 p{
  margin: 10px;
  text-indent: 50px;
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
  font-size:20;
  display: flex
 
  
  }

/*I want the same color in each page*/
/*I want to decorate my welcome and my thank you pages*/
/*My background is a dolphin on everypages except, my welcome and thank you pages*/
/*I want my header and footer the same color*/
/*the DR,BH,and MI html, I want an animated dolfin*/